{:enums
 {:Group {:description "Enumeration of groups."
          :values [{:enum-value :users :description "Every user is a member of the users group."}
                   {:enum-value :members :description "Can use the features of the web app."}
                   {:enum-value :customers :description "Pays money to use features of the web app."}
                   {:enum-value :biz}
                   {:enum-value :support}
                   {:enum-value :devops}
                   {:enum-value :admins}]}}
 :objects
 {:User                {:description "User"
                        :fields      {:id         {:type (non-null ID)}
                                      :email      {:type        (non-null String)
                                                   :description "Email of user."}
                                      :note {:type String
                                             :description "Note about user."}
                                      :locked_at  {:type        DateTimeUTC
                                                   :description "Locked timestamp."}
                                      :created_at {:type        (non-null DateTimeUTC)
                                                   :description "Creation timestamp."}
                                      :groups {:type (list Group)
                                               :description "Groups the user belongs to."}}}
  :RegisterUserPayload {:description "Register user payload."
                        :fields      {:user {:type (non-null User)}}}
  :LoginPayload        {:description "Login payload."
                        :fields      {:user {:type (non-null User)}}}
  :LogoutPayload       {:description "Logout payload."
                        :fields      {:user {:type (non-null User)}}}}
 :scalars
 {:DateTimeUTC {:parse     :date-time-utc-parser
                :serialize :date-time-utc-serializer}}
 :input-objects
 {:RegisterUserInput {:fields {:email    {:type (non-null String)}
                               :password {:type (non-null String)}}}
  :LoginInput        {:fields {:email    {:type (non-null String)}
                               :password {:type (non-null String)}}}}
 :queries
 {:users {:type        (list User)
          :description "Get all users."
          :resolve     :query/users}
  :user {:type User
         :description "Get user."
         :args {:id {:type (non-null ID)}}
         :resolve :query/user}}
 :mutations
 {:register_user {:type        RegisterUserPayload
                  :description "Register user."
                  :args        {:input {:type (non-null RegisterUserInput)}}
                  :resolve     :mutation/register-user}
  :login         {:type        LoginPayload
                  :description "Login."
                  :args        {:input {:type (non-null LoginInput)}}
                  :resolve     :mutation/login}
  :logout        {:type        LogoutPayload
                  :description "Logout."
                  :resolve     :mutation/logout}}}
